h2 {
    color: green;
    font-style: italic;
  }

 h3 {
    color: rgb(0, 92, 128);
    font-style: italic;
 }
 .message {
    color: rgb(0, 0, 0);
    background: rgb(0, 151, 20);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }